parameters:
	ignoreErrors:
		-
			message: '#^Trait ElvinQulizade\\Versions\\Concerns\\HasVersions is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/HasVersions.php
